:root {
  background-color: var(--secondary-clr);
  color: var(--text-clr);
}

* {
  font-family: "Poppins", sans-serif !important;
}

input {
  background: transparent;
}

.chat {
  flex: 1;
}
.video {
  flex: 1;
}
